#####################################################################
# BIGTREETECH EBB36 CAN v1.2 (STM32G0B1) toolhead board
# Uses the recovered canbus_uuid from printer.cfg.
#####################################################################

[board_pins EBB36_G0B1_v1.2]
mcu: EBBCan
aliases:
aliases_step:
    EXT_EN=PD2, EXT_STEP=PD0, EXT_DIR=PD1, EXT_UART=PA15
aliases_limitsw:
    LIMIT_1=PB7, LIMIT_2=PB5, LIMIT_3=PB6
aliases_bltouch:
    PROBE_1=PB9, PROBE_2=PB8
aliases_fans:
    FAN0=PA1, FAN1=PA0
aliases_thermistors:
    TH0=PA3, PT100_CS=PA4, PT100_SCLK=PA5, PT100_MISO=PA6, PT100_MOSI=PA7
aliases_heaters:
    HE0=PB13
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12, ADXL_SCLK=PB10, ADXL_MISO=PB2, ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3, AUX1=PB4

[heater_fan hotend_fan]
pin: EBBCan:FAN0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[fan]
pin: EBBCan:FAN1
max_power: 1.0
kick_start_time: 0.25
cycle_time: 0.015
off_below: 0.10

[extruder]
max_extrude_cross_section: 5
step_pin: EBBCan:EXT_STEP
dir_pin: !EBBCan:EXT_DIR
enable_pin: !EBBCan:EXT_EN
rotation_distance: 22.23
gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200
max_extrude_only_distance: 1400
max_extrude_only_velocity: 75
max_extrude_only_accel: 1500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan:HE0
sensor_type: Generic 3950
sensor_pin: EBBCan:TH0
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 300
min_extrude_temp: 170

[tmc2209 extruder]
uart_pin: EBBCan:EXT_UART
run_current: 0.46
sense_resistor: 0.110
stealthchop_threshold: 0

[adxl345]
cs_pin: EBBCan:ADXL_CS
spi_software_sclk_pin: EBBCan:ADXL_SCLK
spi_software_mosi_pin: EBBCan:ADXL_MOSI
spi_software_miso_pin: EBBCan:ADXL_MISO
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    60,60,20

# This is preserved from the recovered config. It is not used for Z homing
# unless you intentionally switch from the physical Z endstop to probe homing.
[probe]
pin: ^EBBCan:LIMIT_1
x_offset: -29.8
y_offset: -13.5
z_offset: 2.202
speed: 5
samples: 3
sample_retract_dist: 2
lift_speed: 5.0
samples_result: median
samples_tolerance: 0.02
samples_tolerance_retries: 5
